*{
  margin:0;
  padding:0px;
  font-family: 'Courier New', Courier, monospace;
}


body {
 height: 100vh;
 display: flex;
 align-items: center;
justify-content: center;
background-color: #fbb034;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
